[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pre-commit = "*"
pytest-mock = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
